html {
  font-size: 62.5%;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 1.6rem;

  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Bellefair", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
