@import "../abstracts/variables";

.heading {
  font-family: "Bellefair", serif;
  font-weight: 400;
  line-height: 1.146;

  color: &$--color--white;
  text-transform: uppercase;

  &__1 {
    font-size: 15rem;
  }

  &__2 {
    font-size: 10rem;
    margin-bottom: 1.4rem;
  }

  &__3 {
    font-size: 5.6rem;
  }

  &__4 {
    font-size: 3.2rem;
  }

  &__5 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2.8rem;
    letter-spacing: 4.75px;
    color: $--color__primary--light;
  }
}

.paragraph {
  font-family: "Barlow", sans-serif;
  font-weight: 400;

  font-size: 1.8rem;
  line-height: 1.778;
  color: $--color__primary--light;

  max-width: 44.4rem;
}
