@import "../../SCSS/main.scss";

.dataTile {
  text-transform: uppercase;
  font-weight: 400;
  width: 50%;

  .dataTitle {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: 2.36px;
    color: $--color__primary--light;
    margin-bottom: 1.2rem;
  }

  .data {
    font-family: "Bellefair", serif;
    font-size: 2.8rem;
    line-height: 3.2rem;
    color: $--color--white;
  }
}
