.crew {
  height: 100vh;
  background: url("../../Assets/Images/03_Crew/background-crew-desktop.jpg") no-repeat;

  padding: 21.2rem 16.3rem 21.2rem 16.55rem;
}

.dots {
  margin-top: 12rem;

  display: flex;
}
