@import "../../SCSS/main.scss";

.navigation {
  position: absolute;
  top: 4rem;

  margin-left: 5.5rem;
  width: calc(100% - 5.5rem);
  height: 9.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-box {
  }

  &__links {
    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3rem);

    width: 83rem;
    height: 9.6rem;

    padding-left: 10rem;
  }
}
