@import "../../SCSS/main.scss";

.home {
  height: 100vh;
  background: url("../../Assets/Images/01_Home/background-home-desktop.jpg") no-repeat;
  color: $--color--white;
  padding: 0 165px 131px 165px;

  display: flex;
  justify-content: space-between;
  align-items: end;
}
